@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=Kumar+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(243 244 246 1);
  --foreground: #171717;
  --font-title: 'Kumar One', cursive;
  --font-subtitle: 'Karantina', cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b1220;
    --foreground: #ededed;
  }
}

#root,
.__next {
  /* Next.js (pages/) */
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh; /* fallback anciens navigateurs */
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overscroll-behavior: contain;
}
@supports (height: 100dvh) {
  body,
  html {
    min-height: 100dvh;
  }
}

.font-main {
  font-family: var(--font-title);
}

.font-other {
  font-family: var(--font-subtitle);
}

.fkb-bg {
  background: linear-gradient(to bottom, #2d005e 0%, #2d005e 50%, rgba(49, 0, 102, 0.7) 100%);
}

.fkb-bg-diagonal {
  background: linear-gradient(to bottom right, #2c0857 0%, #2c0857 50%, #a78bfa 100%);
}
/* bg-gradient-to-br from-[#2C0857] to-purple-400 */

.page {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

/* focus visible pour l'accessibilité */
:focus-visible {
  outline: 2px solid var(--foreground);
  outline-offset: 2px;
}
